html {
    padding: 1em;
	
}
body {
background:#f6f6f6;
}
form {
display:block;
padding:1em;
}

table {
   // margin: 1em;
//border-collapse: collapse;
}

   TD, TH {
	font-size: 0.71em;
       //font-size: 0.75em;
       // padding: 0.25em;
   // border: 1px solid grey;
   }
   
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.container {
	background:white;
    margin-top: 50px;
    box-shadow: 0 0 1px black;
    padding: 20px 15px 20px 15px;
}